# Python
venv/
.venv/
__pycache__/
*.pyc

# Database
*.db

# Videos
data/videos/

# Generated output
data/output/

# YOLO model
*.pt

# Images generated during testing
*.jpg
*.png

# React dependencies
frontend/node_modules/

# OS files
.DS_Store